:root {
    --primary-text-color: #183b56;
    --secondary-text-color: #577592;
    --accent-color: #2294ed;
    --accent-color-dark: #1d69a3;
    --padding-inline-section: 20px;
       
      }


      .hover-links {
        color: var(--primary-text-color);
        transition: 0.2s ease-out;
    }
    
    .hover-links:hover {
        color: var(--accent-color);
    }

   

    .container3 {
        max-width: 100%;
        /* max-width: 100vw; */
        max-height: fit-content;
        /* max-height: 100px; */
        margin-inline: auto;
        padding-inline: var(--padding-inline-section);
        overflow-x: hidden;
        
    }

    .flex3 {
        display: flex;
        align-items: center;
        
    }

.subfooter{
    
    /* background-color: #ffffe0; */
    background: url("../../public/footerbg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 100%; */
    width: 100%;
    
    padding: var(--padding-inline-section);
    overflow-x: hidden;
}
.subfooter-container{
    justify-content: center;
    width: 100%;
    gap: 30px;
}



@media screen and (max-width: 767px){
   
    .subfooter-container{
        flex-wrap: wrap;
    }
    
}
@media screen and(max-width: 479px) {
    :root{
        --padding-inline-section: 10px;
    }
    h1{
        font-size: 2rem;
    }
    h2{
        font-size: 1.4rem;
    }
    h3{
        font-size: 1.2rem;
    }
    p{
        font-size: 1rem;
    }
    
}