@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
.navbar {
  /* background-color: #FAFAFA; */
  background-color: #ffffe0;
  /* background-color: rgb(176,174,177); */
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 20;
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  max-width: 1500px;
}

.nav-logo {
  color: black;
  align-items: center;
  margin-left: 10%;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.5rem;
  font-family: Poppins, sans-serif;
  flex-grow: 1;

}
.logo{
  height: 100px;
}

.nav-menu {
  /* font-family: Poppins, sans-serif; */
  font-family: 'Young Serif', serif;
  display: flex;
  list-style: none;
  text-align: center;
  margin-right: 2rem;
}

.nav-links {
  color: #183b56;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  border-bottom: 3px solid transparent;
  font-size: 1.2rem;
}

.nav-contact{
  font-size: 1.2rem;
  border: 1px solid #ffdd40;
}
.fa-code {
  margin-left: 1rem;
}

.nav-item {
  line-height: 40px;
  margin-right: 1rem;
}

.homeLink{
  background-color: #19ca48;
  border-radius:13px;
}

.homeLink:first-child:hover{
  color: white;
}



/* .nav-item:after {
  content: "";
  display: block;
  height: 3px;
  width: 0; 
  background: transparent;
  transition: width 0.7s ease, background-color 0.5s ease;
} */

.nav-item::after{
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width 0.7s ease, background-color 0.5s ease;
}


.nav-item:not(:first-child):hover::after {
  width: 100%;
  background: #ffdd40;
}


.nav-item .active {
  color: black;
  /* border: 1px solid #ffdd40; */
}

.nav-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 1px solid #fff;
    position: absolute;
    top: 80px;
    left: -110%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-contact{
    padding: 1px;
  }

  .nav-menu.active {
    background: white;
    left: 0px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
  .nav-item .active {
    /* color: #ffdd40; */
    color: #183b56;
    border: none;
  }
  .nav-links {
    padding: 1.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    color: #ffdd40;
  }
}